.nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    &__start-text {
        color: #fff;
        font-size: 1.5rem;
    }
    &__start-heroes {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 18rem;
    height: 18rem;
    background: #f9e6ab;
    border: solid 4px #6e4825;
    margin-bottom: 16px;
    @include breakpoint(medium) {
        width: 600px;
        height: 600px;
    }
    &__item {
        width: 6rem;
        height: 6rem;
        background: #f9e6ab;
        border: solid 4px #6e4825;
        user-select: none;
        cursor: pointer;
        @include breakpoint(medium) {
            width: 200px;
            height: 200px;
        }
        &:after {
            content: '';
            opacity: 0;
        }
    }
}
.hasWinner,
.hasHero {
    .board__item {
        position: relative;
        transition: all .3s ease-in-out;
        &:not(.win):not(.hero) {
            &:after {
                transition: all 0 ease-in-out;
                content: '';
                background: rgba(0, 0, 0, .5);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
            }
        }
    }
}
.cat {
    background: url(../assets/images/cat.svg) #f9e6ab;
}
.fish {
    background: url(../assets/images/fish.svg) #f9e6ab;
}
.winner {
    
    &.hidden {
        .winner-content {
            transition: all .3s ease-in-out;
            transform: scale(0);
        }
    }
    .winner-content {
        text-align: center;
        transition: all .3s ease-in-out;
        transform: scale(1);
    }
    .winner-text {
        text-align: center;
        text-shadow: 0 0 2px #a10000;
        font-size: 145px;
        padding: 15px;
        color: #ffbc00;
        user-select: none;
        .winner-message {
            width: 400px;
            height: 400px;
        }
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.button {
    display: inline-block;
    background: #ffbc00;
    border: solid 2px #ff8c00;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Modak', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #a10000;
    box-shadow: inset 0px -6px 0px #ff8c00, 0px 0px 5px rgba(0, 0, 0, .5);
    &:hover,
    &:focus {
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: inset 0px -4px 0px #ff8c00, 0px 0px 10px rgba(0, 0, 0, .5);
        transform: scale(1.05);
    }
    .button-icon {
        display: block;
        width: 30px;
        height: 30px;
        &.button-icon_new {
            background: url('../assets/images/redo-alt-solid.svg') no-repeat;
        }
        &.button-icon_mute {
            background: url('../assets/images/volume-mute-solid.svg') no-repeat;
        }
        &.button-icon_unmute {
            background: url('../assets/images/volume-up-solid.svg') no-repeat;
        }
    }
}



.start {
    
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
    .start-content {
        
        .board__item {
            margin: 0 16px;
            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
    }
}