$action-color-background: #fff;
$action-color-background-hover: rgba(255, 255, 255, 0.9);
$action-color-border: #fff;
$action-color-text: #01A08F;

$color-border: rgba(255, 255, 255, 0.3);
$color-border-active: #fff;
$color-text: #fff;

$gradient-background: linear-gradient(162.14deg, #00A08F 1.13%, #FFFFFF 100%);
$gradient-white-background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.14) 100%);