*,
*:before,
*:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    min-width: 320px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    color: $color-bodyText;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;  // for footer at bottom
    background: url(../assets/images/bg.svg) #4f8f24;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom;
    margin: 0;
}

p {
    margin: 0 0 20px;
    &:last-child {
        margin-bottom: 0;
    }
}