@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    min-width: 320px;
    margin: 0;
    color: $color-text;
    font-family: 'Carter One', cursive;
    font-size: 1rem;
    line-height: 1.5rem;    
    background: url('../assets/images/lanscape-bg.svg') no-repeat bottom center, $gradient-background;
}

.visually-hidden {
  @include visually-hidden();
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.container {
    position: relative;
    min-height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 37rem;
    padding: 1rem;
    margin: 0 auto 2rem;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    padding: 0.422rem 1rem;
    color: $action-color-text;
    font-family: 'Carter One', cursive;
    font-size: 1rem;
    background-color: $action-color-background;
    border: solid 1px $color-border-active;
    border-radius: 1.5rem;
    cursor: pointer;
    @include breakpoint(medium) {
        height: 4rem;
        padding: 1rem 2rem;
        font-size: 2rem;
        border-radius: 2rem;
    }
    &:hover,
    &:focus {
        background-color: $action-color-background-hover;
    }
    &__icon {
        width: 1em;
        height: 1em;
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-image: $gradient-white-background;
    border: 1px solid $color-border;
    border-radius: 1rem;
    cursor: pointer;
    @include breakpoint(medium) {
        width: 12rem;
        height: 12rem;
    }
    &:after {
        content: '';
        opacity: 0;
    }
    &__img {
        width: 4rem;
        height: 4rem;
        @include breakpoint(medium) {
            width: 11rem;
            height: 11rem;
        }
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    width: 16rem;
    margin: 0 auto 1rem;
    @include breakpoint(medium) {
        width: 37rem;
        margin: 0 auto;
    }
    &__checkbox {
        @include visually-hidden();
    }
    &__checkbox:focus + .hero {
        outline: 1px solid $color-border-active;
    }
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 6.5rem 1rem;
    background: url('../assets/images/lanscape-bg.svg') no-repeat bottom center, $gradient-background;
    text-align: center;
    opacity: 1;
    visibility: visible;
    &__text {
        margin: 0 0 1.5rem;
        color: $color-text;
        font-size: 1rem;
        @include breakpoint(medium) {
            margin: 0 0 2.5rem;
            font-size: 2rem;
        }
    }
    &__radio {
        @include visually-hidden;
        &:focus + .hero {
            outline: 1px solid white;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        @include breakpoint(medium) {
            gap: 2rem;
            margin-bottom: 2.5rem
        }
    }
}